
*{
    background-color: rgb(201, 145, 213);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#com1{
    margin: 100px auto;
    height: 200px;
    width: 400px;
    background-color: rgb(166, 166, 33);
    position: relative;
    >div{
        height: 50%;
        width: 50%;
        background-color: burlywood;
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%,-50%) ;
        >h2{
            color: rgb(47, 17, 81);
        }
    }
}

#com3{
    height: 500px;
    width: 400px;

   
}