.box1{
    background-color: chocolate;
    color: blanchedalmond;
    height: 50px;
    width: 1100px;
  
}
.main{
    display: flex;
}
.box2{
    background-color: rgb(100, 179, 21);
    color: crimson;
    height: 37%;
    width: 20%;
}
.mini1{
    background-color: coral;
    color: #000;
    height: 43vh;
    width: 45vw;
    
}
.box3{

    background-color: #9932cc;
    color: antiquewhite;
    height: 80vh;
    width: 80vw;

}
.mini2{
    background-color: forestgreen;
    color: #f0e68c;
    height: 43vh;
    width: 200px;
}